#container2{
  border: 2px dashed transparent;
  background: #ddd;
  margin: 1em;
  min-height: 8em;
  padding: 1em;
  width: 100%;
}

#container2.hovering {
  background: #b6d6fb;
  border-color: #276cbc;
}
#container1 .itemContent {
 display: none;
}
#container2 .item {
  display: block;
  border: #276cbc solid 1px;
  margin: 2px;
 }
.item {
  background: white;
   padding: 1em;
}

