.logo {
	max-width: 350px;
	text-align: center;
	float: left;
}

.sislogo {
	max-width: 100px;
    margin-top: -10px;
    width: 85%;
}

a.btn.home {
	color: #fff;
	float: right;
}

/*.active {
	color: #ffa;
}*/
.active a.nav-link {
  color: antiquewhite;
  border: 1px solid;
}
.control-label {
	color: #333;
}

table.dataTable th.focus,
table.dataTable td.focus {
	outline: 3px solid #3366FF;
	outline-offset: -1px
}

.navbar {
	margin-bottom: 0px;
}

#wrapper {
	padding-left: 0;
}

p#status {
    margin: 10px;
}
/** mediaquieri */
@media (max-width:767px) {

	.movil {
		display: none
	}
}


.scroll-to-top {
	position: fixed;
	right: 15px;
	bottom: 3px;
	width: 30px;
	height: 30px;
	text-align: center;
	color: white;
	background: rgba(52, 58, 64, 0.5);

	opacity: 0;
}

.scroll-to-top.focus,
.scroll-to-top:hover {
	color: white;
	opacity: 1;
}

.scroll-to-top:hover {
	background: #343a40;
}

.scroll-to-top i {
	font-weight: 800;
}


#mainNav .navbar-collapse {
	overflow: auto;
	max-height: 75vh;
}

#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
	cursor: pointer;
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
	float: right;
	content: '\f107';
	font-family: 'FontAwesome';
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after {
	content: '\f105';
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level {
	padding-left: 0;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level>li>a,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level>li>a {
	display: block;
	padding: 0.5em 0;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level>li>a:focus,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level>li>a:hover,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level>li>a:focus,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level>li>a:hover {
	text-decoration: none;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level>li>a {
	padding-left: 1em;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level>li>a {
	padding-left: 2em;
}

#mainNav .navbar-collapse .sidenav-toggler {
	display: none;
}

#mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown>.nav-link {
	position: relative;
	min-width: 45px;
}

#mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown>.nav-link:after {
	float: right;
	width: auto;
	content: '\f105';
	border: none;
	font-family: 'FontAwesome';
}

#mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown>.nav-link .indicator {
	position: absolute;
	top: 5px;
	left: 21px;
	font-size: 10px;
}

#mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown.show>.nav-link:after {
	content: '\f107';
}

#mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown .dropdown-menu>.dropdown-item>.dropdown-message {
	overflow: hidden;
	max-width: none;
	text-overflow: ellipsis;
}

@media (min-width: 992px) {
	#mainNav .navbar-brand {
		width: 250px;
	}

	#mainNav .navbar-collapse {
		overflow: visible;
		max-height: none;
	}

	#mainNav .navbar-collapse .navbar-sidenav {
		position: absolute;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	#mainNav .navbar-collapse .navbar-sidenav>.nav-item {
		width: 250px;
		padding: 0;
	}

	#mainNav .navbar-collapse .navbar-sidenav>.nav-item>.nav-link {
		padding: 1em;
	}

	#mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level,
	#mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level {
		padding-left: 0;
		list-style: none;
	}

	#mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li,
	#mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li {
		width: 250px;
	}

	#mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li>a,
	#mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li>a {
		padding: 1em;
	}

	#mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li>a {
		padding-left: 2.75em;
	}

	#mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li>a {
		padding-left: 3.75em;
	}

	#mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown>.nav-link {
		min-width: 0;
	}

	#mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown>.nav-link:after {
		width: 24px;
		text-align: center;
	}

	#mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown .dropdown-menu>.dropdown-item>.dropdown-message {
		max-width: 300px;
	}
}

#mainNav.fixed-top .sidenav-toggler {
	display: none;
}

@media (min-width: 992px) {
	#mainNav.fixed-top .navbar-sidenav {
		height: calc(100vh - 112px);
	}

	#mainNav.fixed-top .sidenav-toggler {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-top: calc(100vh - 56px);
	}

	#mainNav.fixed-top .sidenav-toggler>.nav-item {
		width: 250px;
		padding: 0;
	}

	#mainNav.fixed-top .sidenav-toggler>.nav-item>.nav-link {
		padding: 1em;
	}
}


#mainNav.fixed-top .sidenav-toggler a i {
	color: #adb5bd;
}

#mainNav.fixed-top.navbar-light .sidenav-toggler {
	background-color: #dee2e6;
}

#mainNav.fixed-top.navbar-light .sidenav-toggler a i {
	color: rgba(0, 0, 0, 0.5);
}

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler {
	overflow-x: hidden;
	width: 55px;
}

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item,
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
	width: 55px !important;
}

body.sidenav-toggled #mainNav.fixed-top #sidenavToggler i {
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: 'FlipH';
}

#mainNav.static-top .sidenav-toggler {
	display: none;
}

@media (min-width: 992px) {
	#mainNav.static-top .sidenav-toggler {
		display: flex;
	}
}

body.sidenav-toggled #mainNav.static-top #sidenavToggler i {
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: 'FlipH';
}

#sidenavToggler i {
	font-weight: 800;
}

.navbar-sidenav-tooltip.show {
	display: none;
}

@media (min-width: 992px) {
	body.sidenav-toggled .page-wrapper {
		margin-left: 55px;
	}
}

body.sidenav-toggled #wrapper {
	padding-left: 55px;
}

body.sidenav-toggled .navbar-sidenav {
	overflow-x: hidden;
	width: 55px;
}

body.sidenav-toggled .navbar-sidenav .nav-link-text {
	display: none;
}

body.sidenav-toggled .navbar-sidenav .nav-item,
body.sidenav-toggled .navbar-sidenav .nav-link {
	width: 55px !important;
}

body.sidenav-toggled .navbar-sidenav .nav-item:after,
body.sidenav-toggled .navbar-sidenav .nav-link:after {
	display: none;
}

body.sidenav-toggled .navbar-sidenav-tooltip.show {
	display: flex;
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
	color: #868e96;
}


#mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li>a,
#mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li>a {
	color: #868e96;
}

#mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li>a:focus,
#mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li>a:hover,
#mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li>a:focus,
#mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li>a:hover {
	color: #adb5bd;
}

#mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown>.nav-link:after {
	color: #adb5bd;
}

@media (min-width: 992px) {

	#mainNav .navbar-collapse .navbar-sidenav li.active a {
		color: white !important;
		background-color: #495057;
	}

	#mainNav .navbar-collapse .navbar-sidenav li.active a:focus,
	#mainNav .navbar-collapse .navbar-sidenav li.active a:hover {
		color: white;
	}

	#mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level,
	#mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level {
		background: #343a40;
	}
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
	color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav>.nav-item>.nav-link {
	color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav>.nav-item>.nav-link:hover {
	color: rgba(0, 0, 0, 0.7);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li>a,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li>a {
	color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li>a:focus,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li>a:hover,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li>a:focus,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li>a:hover {
	color: rgba(0, 0, 0, 0.7);
}

#mainNav.navbar-light .navbar-collapse .navbar-nav>.nav-item.dropdown>.nav-link:after {
	color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
	#mainNav.navbar-light .navbar-collapse .navbar-sidenav {
		background: #f8f9fa;
	}

	#mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a {
		color: #000 !important;
		background-color: #e9ecef;
	}

	#mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:focus,
	#mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:hover {
		color: #000;
	}

	#mainNav.navbar-light .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level,
	#mainNav.navbar-light .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level {
		background: #f8f9fa;
	}
}

.card-body-icon {
	position: absolute;
	z-index: 0;
	top: -25px;
	right: -25px;
	font-size: 5rem;
	-webkit-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	transform: rotate(15deg);
}

@media (min-width: 576px) {
	.card-columns {
		column-count: 1;
	}
}

@media (min-width: 768px) {
	.card-columns {
		column-count: 2;
	}
}

@media (min-width: 1200px) {
	.card-columns {
		column-count: 2;
	}
}

.card-login {
	max-width: 25rem;
}

.card-register {
	max-width: 40rem;
}


@media (min-width: 992px) {
	body.sidenav-toggled footer.sticky-footer {
		width: calc(100% - 55px);
	}
}

.wizard {
	margin:0px auto;
	background: #fff;
}

.wizard .active {
	color: #000;
}

.wizard .nav-tabs {
	position: relative;
	margin: 0px auto;
	margin-bottom: 0;
	border-bottom-color: #e0e0e0;
}

.wizard>div.wizard-inner {
	position: relative;
}

.connecting-line {
	height: 2px;
	background: #e0e0e0;
	position: absolute;
	width: 80%;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 50%;
	z-index: 1;
}

.wizard .nav-tabs>li.active>a,
.wizard .nav-tabs>li.active>a:hover,
.wizard .nav-tabs>li.active>a:focus {
	color: #555555;
	cursor: default;
	border: 0;
	border-bottom-color: transparent;
}

span.round-tab {
	width: 70px;
	height: 70px;
	line-height: 70px;
	display: inline-block;
	border-radius: 100px;
	background: #fff;
	border: 2px solid #e0e0e0;
	z-index: 2;
	position: absolute;
	left: 0;
	text-align: center;
	font-size: 25px;
}

span.round-tab i {
	color: #555555;
}

.wizard li.active span.round-tab {
	background: #fff;
	border: 2px solid #5bc0de;

}

.wizard li.active span.round-tab i {
	color: #5bc0de;
}

span.round-tab:hover {
	color: #333;
	border: 2px solid #333;
}

.wizard .nav-tabs>li {
	width: 20%;
}

.wizard li:after {
	content: " ";
	position: absolute;
	left: 46%;
	opacity: 0;
	margin: 0 auto;
	bottom: 0px;
	border: 5px solid transparent;
	border-bottom-color: #5bc0de;
	transition: 0.1s ease-in-out;
}

.wizard li.active:after {
	content: " ";
	position: absolute;
	left: 46%;
	opacity: 1;
	margin: 0 auto;
	bottom: 0px;
	border: 10px solid transparent;
	border-bottom-color: #5bc0de;
}

.wizard .nav-tabs>li a {
	width: 70px;
	height: 70px;
	margin: 20px auto;
	border-radius: 100%;
	padding: 0;
}

.wizard .nav-tabs>li a:hover {
	background: transparent;
}

.wizard .tab-pane {
	position: relative;
	padding-top: 10px;
}

.wizard h3 {
	margin-top: 0;
}

@media(max-width : 585px) {

	.wizard {
		width: 90%;
		height: auto !important;
	}

	span.round-tab {
		font-size: 16px;
		width: 50px;
		height: 50px;
		line-height: 50px;
	}

	.wizard .nav-tabs>li a {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}

	.wizard li.active:after {
		content: " ";
		position: absolute;
		left: 35%;
	}
}

.navbar-inverse {
	background-color: #a9444285;
}

.top-nav>li>a {
	color: #f5f5f5;
}
/********************************************************************
*           CORREZIONE PER L'AUTOCOMPLETE EXTENDER di AJAX TOOLKIt  *
********************************************************************/
.ui-widget.ui-widget-content.ui-front {
    z-index: 9999 !important;
}

footer.sticky-footer {
    height: 33px;
	color: whitesmoke;
}


/*----------------------
PreLoading
-----------------------*/
.preloade {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.preloade img{
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}