@import url('https://fonts.googleapis.com/css?family=Krub:300,400,500,600,700');
html {
    overflow-x: hidden;
}

body {
    background: #fff;
    color: #646f79;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Krub', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    font-size: 38px;
    color: #585b60;
    font-weight: 700;
    font-family: 'Krub', sans-serif;
}

.title-h3 {
    font-size: 24px;
}

a {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

a:hover {
    text-decoration: none;
}

a a:focus {
    outline: none;
}

p {
    font-weight: 400;
    font-family: 'Krub', sans-serif;
    margin: 0px;
    font-size: 15px;
}

ul,
ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

ul li,
ol li {
    list-style: none;
}

.section-title-header p {
    text: center;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 36px;
}

.section-header {
    margin-bottom: 48px;
}

.section-title {
    color: #585b60;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1;
    padding: 0 10px;
    position: relative;
}

.padding-none {
    padding: 0px;
}

.btn {
    font-size: 14px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
    border-radius: 30px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
}

.btn:focus,
.btn:active {
    box-shadow: none;
    outline: none;
    color: #fff;
}

.btn-common {
    background-color: #17C2D7;
    position: relative;
    z-index: 1;
}

.btn-common.blush {
    background-color: #e25985;
}

.btn-common:hover {
    color: #fff;
    opacity: 0.7;
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.btn-border {
    color: #17C2D7;
    background-color: transparent;
    border: 1px solid #17C2D7;
}

.btn-border:hover {
    color: #fff;
    border-color: #17C2D7;
    background-color: #17C2D7;
}

.btn-border:focus {
    color: #fff;
    border-color: #17C2D7;
    background-color: #17C2D7;
}

.btn-lg {
    padding: 14px 33px;
    text-transform: uppercase;
    font-size: 16px;
}

.btn-rm {
    padding: 7px 18px;
    text-transform: capitalize;
}

button:focus {
    outline: none !important;
}

.icon-close,
.icon-check {
    color: #17C2D7;
}

.social-icon a {
    color: #666;
    background: #fff;
    width: 32px;
    height: 32px;
    line-height: 34px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    font-size: 16px;
    margin: 15px 6px 12px 4px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.social-icon a:hover {
    color: #fff !important;
}

.social-icon .facebook:hover {
    background: #3b5999;
}

.social-icon .twitter:hover {
    background: #4A9CEC;
}

.social-icon .instagram:hover {
    background: #D6274D;
}

.social-icon .linkedin:hover {
    background: #1260A2;
}

.social-icon .google:hover {
    background: #CE332A;
}

.social-icon .spotify:hover {
    background: #1DB954;
}


/* ScrollToTop */

a.back-to-top {
    display: none;
    position: fixed;
    bottom: 18px;
    right: 15px;
    text-decoration: none;
}

a.back-to-top i {
    display: block;
    font-size: 22px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #f66d9b;
    border-radius: 30px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

a.back-to-top:hover,
a.back-to-top:focus {
    text-decoration: none;
}


/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999999;
}

.loader {
    top: 40%;
    width: 200px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.loader img {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.section-padding {
    padding: 100px 0;
}

hr {
    border-top: 1px dotted #ddd;
}

#feature {
    background: #22252a;
}

#feature hr {
    border-color: #414448;
}

#feature .title-h3 {
    color: #a5a8ad
}

.text-wrapper {
    height: 100%;
    display: table;
    padding-left: 140px;
}

.text-wrapper>div {
    vertical-align: middle;
    display: table-cell;
}

.feature-thumb {
    margin-right: -60px;
}

.title-hl {
    font-size: 40px;
    margin-bottom: 30px;
}

.features-box {
    margin-top: 15px;
    margin-bottom: 15px;
}

.features-box .features-icon {
    margin-bottom: 15px;
}

.features-box .features-icon i {
    background: linear-gradient(to right, #f66d9b 0%, #FFA117 98%, #FFA117 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 30px;
}

.features-box .features-content h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

#clients {
    background: #f8f9fb;
}

.client-item-wrapper {
    text-align: center;
    padding: 15px;
}

.client-item-wrapper img {
    opacity: 0.5;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: gray;
    transition: all .6s ease;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
}

.client-item-wrapper:hover img {
    opacity: 1;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}


/* Services Item */

.services-item {
    padding: 25px;
    border: 1px solid #f5f5f5;
    margin-bottom: 30px;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.services-item .icon i {
    font-size: 42px;
    width: 42px;
    height: 42px;
    background: linear-gradient(to right, #f66d9b 0%, #FFA117 98%, #FFA117 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.services-item .services-content h3 {
    margin-top: 10px;
    font-weight: 500;
    margin-bottom: 10px;
}

.services-item .services-content h3 a {
    font-size: 17px;
    color: #333333;
}

.services-item:hover {
    border-color: #FFA117;
    box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.05);
}

.navbar-brand {
    position: relative;
    padding: 0px;
}

.top-nav-collapse {
    z-index: 999999;
    top: 0px !important;
    min-height: 58px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    background: #fff !important;
}

.top-nav-collapse .navbar-brand {
    top: 0px;
}

.top-nav-collapse .navbar-brand img {
    width: 75%;
}

.top-nav-collapse .navbar-nav .nav-link {
    color: #585b60 !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
    cursor: pointer;
    color: #17C2D7 !important;
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
    color: #17C2D7 !important;
}

.indigo {
    background: transparent;
}

.menu-bg {
    background: transparent;
}

.navbar-expand-lg .navbar-nav .nav-link i {
    font-size: 14px;
    margin-left: 5px;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #585b60;
    font-weight: 400;
    padding: 8px 17px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 40px;
    font-size: 17px;
    cursor: pointer;
    background: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg .navbar-nav li .active>a,
.navbar-expand-lg .navbar-nav li a:focus {
    color: #17C2D7;
    outline: none;
}

.navbar-expand-lg .navbar-nav .active>.nav-link,
.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-expand-lg .navbar-nav .nav-link.open,
.navbar-expand-lg .navbar-nav .open>.nav-link {
    color: #17C2D7 !important;
}

.navbar-expand-lg .navbar-nav .nav-link:focus,
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #17C2D7 !important;
}

.navbar {
    padding: 0;
}

.navbar li.active a.nav-link {
    color: #17C2D7;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 99;
    min-width: 210px;
    background-color: #fff;
    white-space: nowrap;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    animation: fadeIn 0.4s;
    -webkit-animation: fadeIn 0.4s;
    -moz-animation: fadeIn 0.4s;
    -o-animation: fadeIn 0.4s;
    -ms-animation: fadeIn 0.4s;
}

.dropdown-menu:before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -5px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    text-align: left;
    top: 100%;
    border: none;
    animation: fadeIn 0.4s;
    -webkit-animation: fadeIn 0.4s;
    -moz-animation: fadeIn 0.4s;
    -o-animation: fadeIn 0.4s;
    -ms-animation: fadeIn 0.4s;
}

.dropdown .dropdown-menu .dropdown-item {
    width: 100%;
    padding: 12px 20px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #f1f1f1;
    text-decoration: none;
    display: inline-block;
    float: left;
    clear: both;
    position: relative;
    outline: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.dropdown .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dropdown .dropdown-menu .dropdown-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
    color: #17C2D7;
    background: #f7f7f7;
}

.dropdown-item.active,
.dropdown-item:active {
    background: transparent;
}

.fadeInUpMenu {
    -webkit-animation-name: fadeInUpMenu;
    animation-name: fadeInUpMenu;
}

.slicknav_btn {
    border-color: #17C2D7;
}

.slicknav_menu .slicknav_icon-bar {
    background: #17C2D7;
}


/* only small tablets */

@media (min-width: 768px) and (max-width: 991px) {
    #nav-main li a.nav-link {
        padding-top: 18px;
    }
}

.navbar-toggler {
    display: none;
}

.mobile-menu {
    display: none;
}

.slicknav_menu {
    display: none;
}

@media screen and (max-width: 991px) {
    .navbar-header {
        width: 100%;
    }
    .navbar-brand {
        position: absolute;
        padding: 15px 15px;
        top: 0;
    }
    .navbar-brand img {
        width: 75%;
    }
    .slicknav_menu {
        display: block;
    }
    .slicknav_nav a:hover,
    .slicknav_nav a:focus,
    .slicknav_nav .active {
        color: #FD6E74;
        outline: none;
        background: #f8f9fa;
    }
}

@media screen and (max-width: 768px) {
    .navbar-header {
        width: 100%;
    }
    .navbar-brand {
        position: absolute;
        padding: 7px 15px;
        top: 0;
    }
    .navbar-brand img {
        width: 75%;
    }
    #mobile-menu {
        display: none;
    }
    .slicknav_menu {
        display: block;
    }
    .slicknav_nav .active a {
        background: #E91E63;
        color: #fff;
    }
    .slicknav_nav a:hover,
    .slicknav_nav a:focus,
    .slicknav_nav .active {
        color: #17C2D7;
        outline: none;
        background: #f8f9fa;
    }
}


/* ==========================================================================
3. Hero Area
========================================================================== */

#hero-area {
    color: #fff;
    overflow: hidden;
    position: relative;
    background: #f8f9fb;
    height: 100vh;
}

.particles_js .contents,
.particles_js .img-thumb {
    z-index: 22;
    position: relative;
}

.particles_js #particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;
    top: 0;
}

#hero-area .contents {
    padding: 170px 0px 50px;
}

#hero-area .contents h5 {
    font-size: 50px;
}

#hero-area .contents .head-title {
    color: #585b60;
    font-size: 34px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 30px;
}


/* Team Item */

.team-item {
    margin: 15px 0;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.team-item .team-img {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 7px;
}

.team-item .team-overlay {
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0;
    width: 100%;
    border-radius: 0px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.team-item .overlay-social-icon {
    color: #fff;
    top: 45%;
    position: absolute;
    display: table-cell;
    margin: 0 auto;
    width: 100%;
}

.team-item .overlay-social-icon .social-icons {
    padding-left: 0;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.team-item .overlay-social-icon .social-icons li {
    display: inline-block;
    margin: 0 4px;
}

.team-item .overlay-social-icon .social-icons li a {
    letter-spacing: 0px;
    outline: 0 !important;
}

.team-item .overlay-social-icon .social-icons li a i {
    font-size: 20px;
    color: #fff;
    width: 36px;
    height: 36px;
    background: #17C2D7;
    display: block;
    border-radius: 36px;
    line-height: 36px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.team-item .overlay-social-icon .social-icons li a:hover .lni-facebook-filled {
    background: #3B5998;
}

.team-item .overlay-social-icon .social-icons li a:hover .lni-twitter-filled {
    background: #00aced;
}

.team-item .overlay-social-icon .social-icons li a:hover .lni-instagram-filled {
    background: #fb3958;
}

.team-item .info-text {
    padding: 15px 20px;
}

.team-item .info-text h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
}

.team-item .info-text h3 a {
    color: #333;
}

.team-item .info-text h3 a:hover {
    color: #17C2D7;
}

.team-item .info-text p {
    margin: 0;
    color: #888;
}

.team-item:hover .team-overlay {
    opacity: 1;
}


/* ==========================================================================
   Pricing Table Style
   ========================================================================== */

#pricing {
    text-align: center;
}

#pricing .card {
    border-color: #f7f7f7;
}

#pricing .card:hover {
    border-color: #FFA117;
    box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.05);
}

.pricing li {
    list-style: none;
    padding: 8px;
}

.pricing .plan-img img {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background: rgba(0, 0, 0, 0.01);
    max-width: 180px;
}

.pricing .price {
    margin-bottom: 30px;
}

.pricing .price small {
    font-size: 15px;
}

.pricing .price h3 span {
    font-size: 15px;
    vertical-align: top;
}

.pricing .price>span {
    font-size: 18px;
    text-transform: uppercase;
}

.pricing .plan-btn {
    margin-top: 30px;
}

.testimonial {
    background: #34363a;
}

.testimonial-item {
    padding: 5px;
}

.testimonial-item .img-thumb {
    position: relative;
    margin-right: 25px;
}

.testimonial-item .img-thumb img {
    border-radius: 50%;
    box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.5);
    display: inline-block;
    width: inherit;
    padding: 7px;
}

.testimonial-item .content {
    overflow: hidden;
}

.testimonial-item .content .description {
    width: 100%;
    margin-bottom: 20px;
    color: #b7b7b7;
}

.testimonial-item .info h2 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    margin: 0;
}

.testimonial-item .info h2 a {
    color: #17C2D7;
}

.testimonial-item .info h3 {
    margin: 0;
    clear: both;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 10px;
}

.testimonial-item .info h3 a {
    color: #fff;
}

.testimonial-item .info .indicator {
    font-size: 26px;
    font-weight: 700;
    color: #17C2D7;
}

.testimonial-item .icon-social {
    margin-top: 30px;
}

.testimonial-item .icon-social a {
    color: #666;
    background: #fff;
    width: 32px;
    height: 32px;
    line-height: 34px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    font-size: 15px;
    margin: 15px 6px 12px 4px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.testimonial-item .icon-social a:hover {
    color: #fff;
}

.testimonial-item .icon-social .facebook:hover {
    background: #3b5999;
}

.testimonial-item .icon-social .twitter:hover {
    background: #4A9CEC;
}

.testimonial-item .icon-social .instagram:hover {
    background: #D6274D;
}

.testimonial-item .icon-social .linkedin:hover {
    background: #1260A2;
}

.testimonial-item .icon-social .google:hover {
    background: #CE332A;
}

.owl-pagination {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -40px;
}

.owl-carousel .owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-carousel button.owl-dot {
    display: inline-block;
    zoom: 1;
    display: inline;
    text-align: center;
}

.owl-carousel button.owl-dot span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 2px 4px;
    filter: alpha(opacity=50);
    opacity: 1;
    border-radius: 30px;
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.owl-carousel button.owl-dot.active span,
.owl-carousel button.owl-dot.clickable,
.owl-carousel button.owl-dot:hover span {
    background: #17C2D7;
}

.form-control {
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    border-radius: 30px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding: 8px 20px;
    border: 0;
}

.form-control:focus {
    border-color: #17C2D7;
    box-shadow: none;
    outline: none;
}

textarea {
    border-radius: 4px !important;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
}

.btn.disabled,
.btn:disabled {
    opacity: 1;
}

.contact-form-area h2 {
    font-size: 18px;
    text-transform: uppercase;
}

.contact-right {
    padding: 4px;
}

.contact-right .single-contact {
    margin: 20px 0px;
    padding: 3px 55px;
    position: relative;
    color: #abacae;
}

.contact-right .single-contact p {
    margin-bottom: 5px;
}

.contact-right .single-contact p a {
    color: #abacae;
}

.contact-right .contact-icon {
    background: #17C2D7;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    height: 40px;
    left: 0;
    padding-top: 8px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40px;
}

#contact {
    position: relative;
    overflow: hidden;
    background: #f8f9fb;
}

#contact #contactForm {
    margin-top: 30px;
}

.text-danger {
    font-size: 14px;
    margin-top: 10px;
}

.list-unstyled li {
    color: #d9534f;
}

.h3 {
    font-size: 16px;
    margin-top: 26px;
}


/* Footer Area Start */

.footer-area {
    background: #34363a;
    text-align: center;
}

.footer-area .footer-titel {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 10px;
    letter-spacing: 0.5px;
}

.footer-area ul li {
    margin-bottom: 10px;
}

.footer-area ul li a {
    color: #ccc;
    font-size: 14px;
    font-weight: 400;
}

.footer-area ul li a:hover {
    color: #17C2D7;
}

.footer-area #subscribe-form {
    margin-top: 15px;
}

.footer-area #subscribe-form .form-group {
    position: relative;
}

.footer-area #subscribe-form .form-group .btn-common {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 15px;
    height: 39px;
    border-radius: 0;
    background: transparent;
    color: #17C2D7;
    border-left: 1px solid #ddd;
}

#copyright {
    background: #34363a;
    border-top: 2px dotted #3b3d42;
    padding: 10px;
}

#copyright p {
    line-height: 42px;
    color: #fff;
    text-align: center;
    margin: 0;
}

#copyright p a {
    color: #fff;
}

#copyright p a:hover {
    color: #17C2D7;
}